/*-- HEADER REIGON --*/
.logo img{
	width: 25%
}

ul.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 30%;
    float: right;
    margin-top: -75px;
    margin-right: 145px; 
}

/* Float the list items side by side */
ul.topmenu li {
    float: left;
}

/* Style the links inside the list items */
ul.topmenu li a {
    display: inline-block;
    color: #1F987D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: arial;
    border-top: 5px solid #1F987D;
}

ul.topmenu li a:hover {
    background-color: #555;
}

ul.topmenu li.icon {
    display: none;
}

/*.menu{
	width: 50%;
    float: right;
    margin-top: -60px;
}

.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li{
	display: inline;
}*/

h1{
    font-family: arial;
}

/*-- BODY REIGON --*/
body{
	width: 100%;
	background-color: #FFFFFF;
}

/*.pagewrap{
    width: 800px;
    margin: 0 auto;
}
*/
.columnstrip{
    background-color: #1F987D;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: arial;
    color: #FFFFFF;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 55px;
}

.columnstrip h2{
    width: 15%;
    margin-left: 100px;
}

p{
	font-family: arial;
    margin-bottom: 25px;
    color: #2A535E;
}

ul.breadcrumb {
    padding: 5px 95px;
    list-style: none;
    background-color: #FFFFFF;
    font-size: 17px;
    border-top: 2px solid #F7F7F7;
    border-bottom: 2px solid #F7F7F7;
}

ul.breadcrumb li {
	display: inline;
    font-size: 15px;
    font-family: arial;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #2A535E;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.accordionblock{
    /*width: 90%;*/
    width: 45%;
    margin-top: 25px;
    margin-left: 100px;
}

.tabsblock{
    /*width: 90%;*/
    width: 45%;
    margin-top: 40px;
    margin-left: 100px;
}

.quote{
    /*width: 90%;*/
    width: 45%;
    margin-left: 100px;
}

.quote p{
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    border-color:  #1F987D;
    border-left: 6px solid #2A535E;
    line-height: 25px;
    font-style: italic;
}

.block2{
    width: 45%;
    margin-left: 100px;
}

/* TABS STYLING // Style the list START*/    
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li{
    background: none;
    font-family: arial;
    color: #2A535E;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #1F987D;
}

ul.tabs li.current{
    background: #1F987D;
    color: #FFFFFF;
    font-family: arial;
    /*color: #2A535E;*/
}

.tabcontent{
    display: none;
    background: none;
    padding: 15px;
    border: 1px solid #1F987D;
}

.tabcontent.current{
    display: inherit;
}
/* Style the tab content END*/

.sidebar h1{
    font-size: 15px;
}

.sideblog{
    /*width: 40%;*/
    width: 18%;
    float: right;
    margin-right: 260px;
}

.sidetweet{
    /*width: 40%;*/
    width: 20%;
    float: right;
    clear: right;
    margin-right: 225px;
}

.sideblog h1{
    margin-left: 39px;
}

.sidetweet h1{
    margin-left: 39px;
}

.sidetable{
    width: 19%;
    float: right;
    clear: right;
    margin-right: 206px;
    margin-bottom: 15px;
}

table{
    border-collapse: collapse;
    width: 85%;
    font-family: arial;
    color: #2A535E;
}

td {
    border: 1px solid #1F987D;
    padding: 5px;
    text-align: left;
}

td a{
    color: #2A535E;
    text-decoration: none;
}

td.current{
    color: #FFFFFF;
    background-color: #1F987D;
    border-left: 5px solid #2A535E;
}

/*tr:nth-child(2){
    color: white;
    background-color: #1F987D;
    border-left: 4px solid #2A535E;
}*/

ul.blog li a{
    text-decoration: none;
    color: #2A535E;
    font-family: arial;
}

ul.blog li:after{
    /*content: '\2467';*/
    /*content: '\2792';*/
    content: '\2776';
    font-size: 14px;
    float: right;
    color: #2A535E;
}

ul.blog li {
    border-bottom: 1px solid #1F987D;
    margin-bottom: 10px;
}

.blog {
    list-style: none;
}

ul.tweets li a{
    text-decoration: none;
    color: #2A535E;
    font-family: arial;
}

ul.tweets li {
    border-bottom: 1px solid #1F987D;
    margin-bottom: 10px;
}

.tweets {
    list-style: none;
}

.iconpng{
    width: 45px;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #2a535e;
    margin-left: 40px;
    margin-bottom: -21px;
}

.icon-footer{
    width: 45px;
    margin-left: -59px;
    margin-top: 21px;
}

.triangle-footer{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 0 9.5px 16.5px;
    border-color: transparent transparent transparent #167863;
    float: left;
    margin-top: 34px;
}

/* ACCORDION STYLING START */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 3px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

/* Style the accordion panel. Note: hidden by default END*/
button.accordion:after {
    /*content: '\02795';*/ 
    content: '\2228';
    font-size: 13px;
    color: #FFFFFF;
    float: right;
    margin-left: 5px;
    background: #2A535E;
}

button.accordion.active:after {
    /*content: "\2796";*/
    content: "\2227"; 
}


/*-- FOOTER REIGON --*/

footer{
	width: 100%;
	background-color: #1F987D;
    margin-top: 60px;
    border-top: 5px solid #2A535E;;
}

footer h1{
	font-size: 20px;
    color: #FFFFFF;
}

.footwidget{
	width: 15%;
	float: left;
    font-size: 15px;
    margin-left: 70px;
}

.linkwidget{
    width: 15%;
    float: left;
    font-size: 15px;
    margin-left: 70px;
}

.twitterwidget{
    width: 20%;
    float: left;
    font-size: 15px;
    margin-left: 20px;
    color: #FFFFFF;
}

.twitterwidget p {
    color: #FFFFFF;
}

.twitter-wrapper{
    float: left;
}

span {
    font-style: italic;
}

.border{
    border: 2px solid #000;
    border-radius: 13px;
    width: 100%;
    height: 130px;
    background-color: #1F987D;
    box-shadow: 3px 3px 5px #000;
}

.footwidget p{
    color: #FFFFFF;
}

.footerstrip {
    width: 85%;
}

.footerform{
    width: 35%;
    float: right;
    /*margin-top: 15px;*/
    margin-right: -60px;
    position: relative;
}

.submit-button{
    position: absolute;
    top: 170px;
    left: 140px;
/*    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:6px 25px;
    text-decoration:none;*/
}

.formbox{
    margin-bottom: 10px;
    font-style: italic;
}

.message{
    height: 70px;
    font-style: italic;
}

.block1{
	margin-top: 60px;
    width: 50%;
    margin-left: 100px;
}

.block4 p{
	font-size: 16px;
}

.bullet li{
	font-size: 15px;
    list-style-image: url('../images/bullet_green.png');
    font-family: arial;
    color: #36B047;
}

.bullet li a{
    text-decoration: none;
    color: #FFFFFF;
}

.socialicons{ 
    width:350px;
    height:55px;
    text-decoration:none;
    display:block;
    background-image:url(../images/sprites.png);
    background-position:70px 0;
    background-repeat: no-repeat;
    clear: both;
}